@model VCCReportingTool.Models.WorkItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DevopsItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevopsItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fixversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixversion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PendingWith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PendingWith)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
