@model VCCReportingTool.Models.WorkItem
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.UnUpdatedData, rowsPerPage: 10, canPage: false); //nonupdateddata
    var grid1 = new WebGrid(Model.SelectedforDevelopment, rowsPerPage: 10, canPage: false); //selected for dev
    var grid2 = new WebGrid(Model.DevInProgressdata, rowsPerPage: 10, canPage: false); //devinprogress
    var grid3 = new WebGrid(Model.BacklogData, rowsPerPage: 10, canPage: false); //backlog
    var grid4 = new WebGrid(Model.CompletedItems, rowsPerPage: 10, canPage: false); //done items
    var UpcomingTasks = new WebGrid(Model.UpcomingData, rowsPerPage: 10, canPage: false); // Upcoming /No Jira Tickets
    var items = ViewBag.Workitemslist;
    var Status = "";
    var Assignee = "";
    var CurrentDate = DateTime.Now.ToString("MM-dd-yyyy");

    if (Model.Status1 == null)
    {
        Status = "";
    }
    else
    {
        Status = Model.Status1.Description;
    }

    if (Model.User == null)
    {
        Assignee = "";
    }
    else
    {
        Assignee = Model.User.FullName;
    }
}
<style>
    /*.body-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }*/
</style>

<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        var initialPriorityValue, changedPriorityValue, PriorityType;



        $(document).ready(function () {
            $('.priority-edit').on('change', function () {
                initialPriorityValue = $(this).attr('data-val');
                changedPriorityValue = $(this).val();
                if (initialPriorityValue > changedPriorityValue) {
                    PriorityType = "Dec";
                }
                else if (initialPriorityValue < changedPriorityValue) {
                    PriorityType = "Inc";
                }
            });

            $('#SyncData').click(function () {
                $("#divLoader").show();
                $.ajax({
                    url: '@Url.Content("~/Home/GetProjects/")',
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        $("#divLoader").hide();
                        alert(response.responseText)
                        location.reload();
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        $("#divLoader").hide();
                        alert(errorMessage);
                    }
                });
            });

            $('#getCheckboxValues').click(function () {
                var str = "";
                $.each($("input[name='chkBox']:checked"), function () {
                    //str = str + "'One\\Business Applications Group Websites\\" + $(this).val() + "\\Integrated Marketing',"
                    str = str + "'One\\Business Applications Group Websites\\" + $(this).val() + "',"
                });
                str = str.slice(0, -1);
                $("#divLoader").show();
                $.ajax({
                    url: '@Url.Content("~/Home/GetProjects/")',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'SelectedItems': str },
                    success: function (response) {
                        $("#divLoader").hide();
                        alert(response.responseText)
                        location.reload();
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        $("#divLoader").hide();
                        alert(errorMessage);
                    }
                });
            });
        })

        function AddnewComment(a) {
            var Comment = $(a).parent().parent().find(".modal-body #inputComment").val();
            var EditedBy = $(a).parent().parent().find(".modal-body #inputName").val();
            var EditedDate = $(a).parent().parent().find(".modal-body #inputDate").val();
            var NoteID = $(a).parent().parent().find(".modal-body #inputNoteID").val();

            $.ajax({
                url: '@Url.Content("~/WorkItems/NewNoteUpdate/")',
                type: 'POST',
                dataType: 'json',
                data: { 'UpdatedNote': Comment, 'EditedBy': EditedBy, 'EditedDate': EditedDate, 'NoteId': NoteID },
                success: function (response) {
                    alert(response.responseText)
                    location.reload();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                }
            });
        }

        function AddNewFixVersion(a) {
            var FixVersionName = $(a).parent().parent().find(".modal-body #inputFixVersionName").val();
            var Comment = $(a).parent().parent().find(".modal-body #inputFixVersionComment").val();
            var WorkItemID = $(a).parent().parent().find(".modal-body #inputFixVersionWorkItemID").val();
            var FixVersionID = $(a).parent().parent().find(".modal-body #inputFixVersionID").val();
            $.ajax({
                url: '@Url.Content("~/WorkItems/AddNewFixVersion/")',
                type: 'POST',
                dataType: 'json',
                data: { 'FixVersionName': FixVersionName, 'Comment': Comment, 'WorkItemID': WorkItemID, 'FixVersionID': FixVersionID },
                success: function (response) {
                    alert(response.responseText)
                    location.reload();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                }
            });
        }

        function AddnewCommentforNewNote(a) {
            var UpdateBy = $(a).parent().parent().find(".modal-body #inputeditedbyforNewNote").val();
            var Comment = $(a).parent().parent().find(".modal-body #inputCommentforNewNote").val();
            var WorkItemID = $(a).parent().parent().find(".modal-body #inputworkitemforNewNote").val();
            $.ajax({
                url: '@Url.Content("~/WorkItems/AddNoteforWorkItem/")',
                type: 'POST',
                dataType: 'json',
                data: { 'Comment': Comment, 'WorkItemID': WorkItemID, 'UpdateBy': UpdateBy },
                success: function (response) {
                    alert(response.responseText)
                    location.reload();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                }
            });
        }

        function deleteComment(a) {
            var NoteId = $(a).parent().parent().find(".modal-body #DeleteNoteID").val();
            $.ajax({
                url: '@Url.Content("~/WorkItems/DeleteNote/")',
                type: 'POST',
                dataType: 'json',
                data: { 'id': NoteId },
                success: function (response) {
                    alert(response.responseText)
                    location.reload();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                }
            });
        }

        function UpdateWorkItem(a) {
            var devopsid = $(a).parent().parent().find(".modal-body #DevopsItem").val();
            var summary = $(a).parent().parent().find(".modal-body #Summary").val();
            var priority = $(a).parent().parent().find(".modal-body #Priority").val();
            var fixversion = $(a).parent().parent().find(".modal-body #FixVersion").val();
            var pendingwith = $(a).parent().parent().find(".modal-body #PendingWith").val();
            var date = $(a).parent().parent().find(".modal-body #date").val();
            var notes = $(a).parent().parent().find(".modal-body #Notes").val();
            var status = $(a).parent().parent().find(".modal-body #Status").val();
            var assignee = $(a).parent().parent().find(".modal-body #Assignee").val();
            $.ajax({
                url: '@Url.Content("~/WorkItems/UpdateWorkitembyID/")',
                type: 'POST',
                dataType: 'json',
                data: {
                    'devopsid': devopsid,
                    'summary': summary,
                    'priority': priority,
                    'fixversion': fixversion,
                    'pendingwith': pendingwith,
                    'date': date,
                    'notes': notes,
                    'status': status,
                    'assignee': assignee
                },
                success: function (response) {
                    alert(response.responseText)
                    location.reload();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                }
            });
        }

        $(function () {
            $('.edit-mode').hide();
            $('.edit-user, .cancel-user').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });

            $('.save-user').on('click', function () {
                var txt;
                var tr = $(this).parents('tr:first');
                var WIStatus = tr.find("#Status" + $(this).attr("id")).val();
                if (WIStatus == 1) {
                    var result = confirm("Status Changed to 'Done' for selected workItem! Are you sure you want to change the Priorities Accordingly ?");
                    if (result == true) {
                        txt = "OK";
                    } else {
                        txt = "Cancel";
                    }
                }

                if (initialPriorityValue == undefined) { initialPriorityValue = 0 }
                if (changedPriorityValue == undefined) { changedPriorityValue = 0 }

                var Summary = tr.find("#Summary").val();
                var Priority = tr.find("#Priority").val();
                var pendingWith = tr.find("#PendingWith").val();
                var ReleaseDate = tr.find("#ExpectedReleaseDate").val();
                var Status = tr.find("#Status" + $(this).attr("id")).val();
                var Assignee = tr.find("#Assignee" + $(this).attr("id")).val()
                var DevopsID = tr.find("#DevopsItemID a").html();

                tr.find('.edit-mode, .display-mode').toggle();
                var UserModel =
                    {
                        "DevopsItemID": DevopsID,
                        "Summary": Summary,
                        "Priority": Priority,
                        "pendingWith": pendingWith,
                        "ExpectedReleaseDate": ReleaseDate,
                        "Status": Status,
                        "Assignee": Assignee
                    }

                $.ajax({
                    url: '/WorkItems/UpdateRecord/',
                    data: { 'initialPriorityValue': initialPriorityValue, 'changedPriorityValue': changedPriorityValue, 'PriorityType': PriorityType, 'PromptClick': txt, 'workitem': JSON.stringify(UserModel) },
                    type: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        alert(response.responseText)
                        location.reload();
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        alert(errorMessage);
                    }
                });
            });
        })
    </script>
</head>
<body>
    <div class="actionworkitems">
        <div class="nav navbar-nav navbar-right">
            <a href='@Url.Action("ViewPreview", "WorkItems")' class="btn btn-primary">View Preview</a> |
            <input type="button" id="SyncDataPopup" class="btn btn-primary" value="sync" data-toggle="modal" data-target="#mySyncModal" />
        </div>
    </div>

    <!-- Modal -->
    <div id="mySyncModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Options</h4>
                </div>
                <div class="modal-body">

                    <div class="checkbox form-group">
                        <label><input type="checkbox" value="Dynamics 365 Marketing Website" name="chkBox">Dynamics</label>
                    </div>
                    <div class="checkbox form-group">
                        <label><input type="checkbox" value="Dynamics 365 Marketing Website\\Integrated Marketing" name="chkBox">Dynamics 365 Integrated Marketing</label>
                    </div>

                    <div class="checkbox form-group">
                        <label><input type="checkbox" value="Power BI Marketing Website" name="chkBox">Power BI</label>
                    </div>
                    <div class="checkbox form-group">
                        <label><input type="checkbox" value="Power BI Marketing Website\\Integrated Marketing" name="chkBox">Power BI Integrated Marketing</label>
                    </div>

                    <div class="checkbox form-group">
                        <label><input type="checkbox" value="Power Platform Marketing Website" name="chkBox">Power Platform</label>
                    </div>
                    <div class="checkbox form-group">
                        <label><input type="checkbox" value="Power Query Marketing Website" name="chkBox">Power Query</label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="getCheckboxValues" onclick="GetselectedCheckbox(this)" class="btn btn-primary">Proceed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="divLoader" style="display:none;"><img src="~/Content/ajax-loader.gif" height="200" width="200" alt="Loader" style="position: absolute; top: 50%; left: 45%;" /></div>

    <div id="FullGridContent" class="totaldataindiv">
        <h4>Non Updated Data (@grid.TotalRowCount items)</h4>
        @{
            @grid.GetHtml(htmlAttributes: new { @id = "WebGrid", @class = "Grid" }, tableStyle: "table table-bordered table-responsive tablealign", headerStyle: "Non_header", columns: grid.Columns(
     grid.Column("DevopsItemID", "DevopsID", format: @<text>  <span class="display-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a> </span> <label id="DevopsItemID" class="edit-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a></label> </text>, style: "col1Width"),
     grid.Column("Summary", "Summary", format: @<text>  <span class="display-mode"> <label id="lblSummary">@item.Summary</label> </span></text>, style: "col2Width"),
     grid.Column("ProjectName", "Project", format: @<text> <span class="display-mode"> <label id="lblProject">@item.ProjectName</label> </span></text>, style: "col2Width"),
     grid.Column("Priority", "Priority", format: @<text> <span class="display-mode"> <label id="lblPriority">@item.Priority</label> </span></text>, style: "col2Width"),
     grid.Column(columnName: "Assignee", header: "Assignee", format: @<text> <span class="display-mode"> <label id="lblAssignee">@Assignee</label> </span></text>),
     grid.Column("PendingWith", "PendingWith", format: @<text> <span class="display-mode"> <label id="lblPendingWith">@item.PendingWith</label> </span></text>, style: "col2Width"),
     grid.Column("Fixversion", "Fixversion", format: @<text>  <span class="display-mode"> <label id="lblFixversion">@item.Fixversion</label> </span></text>, style: "col2Width"),
     grid.Column(columnName: "Status", header: "Status", format: @<text> <span class="display-mode"> <label id="lblStatus">@Status</label> </span></text>),
     grid.Column("ReleaseDate", "ReleaseDate", format: @<text> <span class="display-mode"> <label id="lblReleaseDate">@item.ExpectedReleaseDate</label> </span> </text>, style: "col2Width"),
     grid3.Column("Notes", "Notes",
         format: @<text> <div class="display-mode Notes_div">
            @foreach (var a in item.Notes1)
            {
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p> @a.Note1 </p>
                        <p class="notedesc"><span>@a.EditedBy </span> &nbsp;<span class="actionitems">@a.EditedDate.ToShortDateString()</span> </p>

                    </div>
                }
            }
        </div>
        <div class="edit-mode Notes_div">
            @{
                int index = 1;
                var addId = "NewNotes_grid" + item.DevopsItemID;
            }

            @foreach (var a in item.Notes1)
            {
                var id = "Notes" + a.NoteID;
                var deleteid = "NoteDelete" + a.NoteID;
                     <!-- Trigger the modal with a button -->
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p>
                            @a.Note1  &nbsp;&nbsp;&nbsp;
                        </p>
                        <p>
                            <span class="notedesc">@a.EditedBy </span> &nbsp;
                            <span class="actionitems notedesc">
                                @a.EditedDate.ToShortDateString() &nbsp;&nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@deleteid"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </p>
                    </div>
                }

                    <!-- Delete Modal -->
                <div id="@deleteid" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputCommentDelete">Are you Sure, You want to delete this ?</label>
                                        <input type="hidden" class="form-control" id="DeleteNoteID" value="@a.NoteID">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="deleteComment(this)" class="btn btn-primary">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Modal Update -->
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Comments for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputComment">NoteId</label>
                                        <input type="text" class="form-control" id="inputNoteID" value="@a.NoteID" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputComment" rows="4">@a.Note1</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        <input type="text" class="form-control" id="inputName" value="@a.EditedBy">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Edited Date</label>
                                        <input type="date" class="form-control" id="inputDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewComment(this)" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal Update -->
                    <!-- Modal for add New Note -->
                <div id="@addId" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Note for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="form-control" id="inputworkitemforNewNote" value="@a.WorkItemID">
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputCommentforNewNote" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        <input type="text" class="form-control" id="inputeditedbyforNewNote">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewCommentforNewNote(this)" class="btn btn-primary">Add New Note</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal for add New Note end -->
                index++;
            }
            <hr />
            <a href="javascript:void(0);" data-toggle="modal" data-target="#@addId"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        </text>, style: "Note"),
     grid.Column("", format:@<text>
                    <button data-toggle="modal" data-target="#@item.DevopsItemID">Edit</button>

                    <div id="@item.DevopsItemID" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Update WorkItem</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="inputName">DevopsItem</label>
                                            <input type="text" class="form-control" id="DevopsItem" value="@item.DevopsItemID" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputComment">Summary</label>
                                            <textarea class="form-control" id="Summary" rows="4">@item.Summary</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">Priority</label>
                                            <input type="text" class="form-control" id="Priority">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">FixVersion</label>
                                            <input type="text" class="form-control" id="FixVersion">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">Pending With</label>
                                            @*<input type="text" class="form-control" id="Pendingwith">*@
                                            <input type="text" list="pendingwithlist" id="PendingWith" class="form-control" />
                                            <datalist id="pendingwithlist">
                                                @foreach (var content in ViewBag.Assignee)
                                                {
                                                    <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                                }
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">ReleaseDate</label>
                                            <input type="date" class="form-control" id="date">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">Notes</label>
                                            <input type="text" class="form-control" id="Notes">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">Status</label>
                                            @*<input type="text" class="form-control" id="Status">*@
                                            @Html.DropDownList("Status", new SelectList(ViewBag.Status, "StatusID", "Title"), "--Select Status--", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName">Assignee</label>
                                            @Html.DropDownList("Assignee", new SelectList(ViewBag.Assignee, "UserID", "FullName"), "--Select Assignee--", new { @class = "form-control" })
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="change" onclick="UpdateWorkItem(this)" class="btn btn-primary">Update</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

    </text>, style: "col3Width", canSort: false)
     ));

                if (Model.UnUpdatedData.Count == 0)
                {
                    <script type="text/javascript">
                        $(function () {
                            var row = $("#WebGrid")[0].insertRow(-1);
                            var cell = $(row.insertCell(-1));
                            cell.html("Currently No Workitems are under Non-Updated Category.");
                            cell.attr("colspan", "13").attr("align", "center");
                        });
                    </script>
                }
        }


        <h4>Completed Items (@grid4.TotalRowCount items)</h4>

        @{
            @grid4.GetHtml(htmlAttributes: new { @id = "WebGrid4", @class = "Grid" }, tableStyle: "table table-bordered tablealign table-responsive Completed_body", headerStyle: "Completed_header", columns: grid4.Columns(
     grid4.Column("DevopsItemID", "DevopsID", format: @<text>  <span class="display-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a> </span> <label id="DevopsItemID" class="edit-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a></label> </text>, style: "col1Width"),
     grid4.Column("Summary", "Summary", format: @<text>  <span class="display-mode"> <label id="lblSummary">@item.Summary</label> </span> <textarea rows="4" cols="50" id="Summary" class="edit-mode">@item.Summary</textarea></text>, style: "col2Width"),
     grid4.Column("ProjectName", "Project", format: @<text> <span class="display-mode"> <label id="lblProject">@item.ProjectName</label> </span> <label id="lblProject" class="edit-mode">@item.ProjectName</label>  </text>, style: "col2Width"),
     grid4.Column("Priority", "Priority", format: @<text> <span class="display-mode"> <label id="lblPriority">@item.Priority</label> </span>  <input type="text" id="Priority" data-val="@item.Priority" value="@item.Priority" class="edit-mode priority-edit" /> </text>, style: "col2Width"),
     grid4.Column(columnName: "Assignee", header: "Assignee", format: @<text> <span class="display-mode"> <label id="lblAssignee">@item.User.FullName</label> </span> @Html.DropDownList((string)("Assignee" + Convert.ToString(grid4.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Assignee, "UserID", "FullName", item.Assignee), "--Select Assignee", new { @class = "edit-mode" })</text>),
     grid4.Column("PendingWith", "PendingWith", format: @<text> <span class="display-mode"> <label id="lblPendingWith">@item.PendingWith</label> </span>
    <input list="pendingwithlist" id="PendingWith" value="@item.PendingWith" class="edit-mode edit-pendingwith" />
    <datalist id="pendingwithlist">
        @foreach (var content in ViewBag.Assignee)
        {
            <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
        }
    </datalist>
    </text>,
            style: "col2Width"),
     grid4.Column("Fixversion", "Fixversion",
     format: @<text>     <div class="display-mode FixVersioncontainer">
            @foreach (var a in item.FixVersionRecords)
            {
                if (a.IsDeleted != true)
                {
                    <p> @a.FixVersionName </p>
                }
            }
        </div>
        <div class="edit-mode">
            @{
                int index = 1;
            }
            @foreach (var a in item.FixVersionRecords)
            {
                var id = "FixVersion" + a.FixVersionID;
                if (a.IsDeleted != true)
                {
                    <p>
                        @a.FixVersionName
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-plus"></span></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                }
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionID" value="@a.FixVersionID">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionWorkItemID" value="@a.WorkItemID">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">FixVersion Name</label>
                                        <input type="text" class="form-control" id="inputFixVersionName">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Comments</label>
                                        <input type="text" class="form-control" id="inputFixVersionComment">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddNewFixVersion(this)" class="btn btn-primary">Add Fix Version</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    </text>, style: "FixVersion"),
     grid4.Column(columnName: "Status", header: "Status", format: @<text> <span class="display-mode"> <label id="lblStatus">@item.Status1.Description</label> </span> @Html.DropDownList((string)("Status" + Convert.ToString(grid4.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Status, "StatusID", "Title", item.Status), "--Select Status", new { @class = "edit-mode" }) </text>),
     grid4.Column("ReleaseDate", "ReleaseDate", format: @<text> <span class="display-mode"> <label id="lblReleaseDate">@item.ExpectedReleaseDate.ToString("MM-dd-yyyy")</label> </span>  <input type="date" id="ExpectedReleaseDate" value="@string.Format("{0:yyyy-MM-dd}", item.ExpectedReleaseDate)" class="edit-mode" /> </text>, style: "col2Width"),
     grid4.Column("Notes", "Notes",
         format: @<text> <div class="display-mode Notes_div">
            @foreach (var a in item.Notes1)
            {
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p> @a.Note1</p>
                        <p class="notedesc"><span>@a.EditedBy </span> &nbsp;<span class="actionitems">@a.EditedDate.ToString("MM-dd-yyyy")</span> </p>
                    </div>
                }
            }
        </div>
        <div class="edit-mode Notes_div">
            @{
                int index = 1;
                var addId = "NewNotes_grid4" + item.DevopsItemID;
            }

            @foreach (var a in item.Notes1)
            {
                var id = "Notes" + a.NoteID;
                var deleteid = "NoteDelete" + a.NoteID;
                     <!-- Trigger the modal with a button -->
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p>
                            @a.Note1  &nbsp;&nbsp;&nbsp;
                        </p>
                        <p>
                            <span class="notedesc">@a.EditedBy </span> &nbsp;
                            <span class="actionitems notedesc">
                                @a.EditedDate.ToString("MM-dd-yyyy") &nbsp;&nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@deleteid"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </p>
                    </div>
                }

                    <!-- Delete Modal -->
                <div id="@deleteid" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputCommentDelete">Are you Sure, You want to delete this ?</label>
                                        <input type="hidden" class="form-control" id="DeleteNoteID" value="@a.NoteID">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="deleteComment(this)" class="btn btn-primary">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Modal Update -->
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Comments for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputComment">NoteId</label>
                                        <input type="text" class="form-control" id="inputNoteID" value="@a.NoteID" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputComment" rows="4">@a.Note1</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputName" value="@a.EditedBy">*@
                                        <input list="pendingwithlist" id="inputName" value="@a.EditedBy" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>


                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Edited Date</label>
                                        <input type="date" class="form-control" id="inputDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewComment(this)" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal Update -->
                    <!-- Modal for add New Note -->
                <div id="@addId" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Note for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="form-control" id="inputworkitemforNewNote" value="@a.WorkItemID">
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputCommentforNewNote" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputeditedbyforNewNote">*@
                                        <input list="pendingwithlist" id="inputeditedbyforNewNote" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewCommentforNewNote(this)" class="btn btn-primary">Add New Note</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal for add New Note end -->
                index++;
            }
            <hr />
            <a href="javascript:void(0);" data-toggle="modal" data-target="#@addId"><span class="glyphicon glyphicon-plus actionitems"></span></a>
        </div>
        </text>, style: "Note"),

     grid4.Column("", format: @<text>
                    <button class="edit-user display-mode">Edit</button>
                    <button id=@Convert.ToString(grid4.Rows.IndexOf(item) + 1) class="save-user edit-mode">Update</button>
                    <button class="cancel-user edit-mode">Cancel</button>
    </text>, style: "col3Width", canSort: false)
     ));
                if (Model.CompletedItems.Count == 0)
                {
                    <script type="text/javascript">
                        $(function () {
                            var row = $("#WebGrid4")[0].insertRow(-1);
                            var cell = $(row.insertCell(-1));
                            cell.html("Currently No Workitems are under Non Updated Items Category.");
                            cell.attr("colspan", "10").attr("align", "center");
                        });
                    </script>
                }
        }

        <h4>Selected for Development (@grid1.TotalRowCount items)</h4>
        @{
            @grid1.GetHtml(htmlAttributes: new { @id = "WebGrid1", @class = "Grid" }, tableStyle: "table table-bordered table-responsive Selected_body", headerStyle: "Selected_header", columns: grid1.Columns(
     grid1.Column("DevopsItemID", "DevopsID", format: @<text>  <span class="display-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a> </span> <label id="DevopsItemID" class="edit-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a></label> </text>, style: "col1Width"),
     grid1.Column("Summary", "Summary", format: @<text>  <span class="display-mode"> <label id="lblSummary">@item.Summary</label> </span> <textarea rows="4" cols="50" id="Summary" class="edit-mode">@item.Summary</textarea></text>, style: "col2Width"),
     grid1.Column("ProjectName", "Project", format: @<text> <span class="display-mode"> <label id="lblProject">@item.ProjectName</label> </span> <label id="lblProject" class="edit-mode">@item.ProjectName</label>  </text>, style: "col2Width"),
     grid1.Column("Priority", "Priority", format: @<text> <span class="display-mode"> <label id="lblPriority">@item.Priority</label> </span>  <input type="text" id="Priority" data-val="@item.Priority" value="@item.Priority" class="edit-mode priority-edit" /> </text>, style: "col2Width"),
     grid1.Column(columnName: "Assignee", header: "Assignee", format: @<text> <span class="display-mode"> <label id="lblAssignee">@item.User.FullName</label> </span> @Html.DropDownList((string)("Assignee" + Convert.ToString(grid1.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Assignee, "UserID", "FullName", item.Assignee), "--Select Assignee", new { @class = "edit-mode" })</text>),
     grid1.Column("PendingWith", "PendingWith", format: @<text> <span class="display-mode"> <label id="lblPendingWith">@item.PendingWith</label> </span>
    <input list="pendingwithlist" id="PendingWith" value="@item.PendingWith" class="edit-mode edit-pendingwith" />
    <datalist id="pendingwithlist">
        @foreach (var content in ViewBag.Assignee)
        {
            <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
        }
    </datalist>
    </text>,
            style: "col2Width"),
     grid1.Column("Fixversion", "Fixversion",
     format: @<text>     <div class="display-mode FixVersioncontainer">
            @foreach (var a in item.FixVersionRecords)
            {
                if (a.IsDeleted != true)
                {
                    <p> @a.FixVersionName </p>
                }
            }
        </div>
        <div class="edit-mode">
            @{
                int index = 1;
            }
            @foreach (var a in item.FixVersionRecords)
            {
                var id = "FixVersion" + a.FixVersionID;
                if (a.IsDeleted != true)
                {
                    <p>
                        @a.FixVersionName
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-plus"></span></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                }
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionID" value="@a.FixVersionID">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionWorkItemID" value="@a.WorkItemID">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">FixVersion Name</label>
                                        <input type="text" class="form-control" id="inputFixVersionName">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Comments</label>
                                        <input type="text" class="form-control" id="inputFixVersionComment">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddNewFixVersion(this)" class="btn btn-primary">Add Fix Version</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    </text>, style: "FixVersion"),
    grid1.Column(columnName: "Status", header: "Status", format: @<text> <span class="display-mode"> <label id="lblStatus">@item.Status1.Description</label> </span> @Html.DropDownList((string)("Status" + Convert.ToString(grid1.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Status, "StatusID", "Title", item.Status), "--Select Status", new { @class = "edit-mode" }) </text>),
     grid1.Column("ReleaseDate", "ReleaseDate", format: @<text> <span class="display-mode"> <label id="lblReleaseDate">@item.ExpectedReleaseDate.ToString("MM-dd-yyyy")</label> </span>  <input type="date" id="ExpectedReleaseDate" value="@string.Format("{0:yyyy-MM-dd}", item.ExpectedReleaseDate)" class="edit-mode" /> </text>, style: "col2Width"),
     grid1.Column("Notes", "Notes",
         format: @<text> <div class="display-mode Notes_div">
            @foreach (var a in item.Notes1)
            {
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p> @a.Note1 </p>
                        <p class="notedesc"><span>@a.EditedBy </span> &nbsp;<span class="actionitems">@a.EditedDate.ToString("MM-dd-yyyy")</span> </p>

                    </div>
                }
            }
        </div>
        <div class="edit-mode Notes_div">
            @{
                int index = 1;
                var addId = "NewNotes_grid1" + item.DevopsItemID;
            }

            @foreach (var a in item.Notes1)
            {
                var id = "Notes" + a.NoteID;
                var deleteid = "NoteDelete" + a.NoteID;
                     <!-- Trigger the modal with a button -->
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p>
                            @a.Note1  &nbsp;&nbsp;&nbsp;
                        </p>
                        <p>
                            <span class="notedesc">@a.EditedBy </span> &nbsp;
                            <span class="actionitems notedesc">
                                @a.EditedDate.ToString("MM-dd-yyyy") &nbsp;&nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@deleteid"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </p>
                    </div>
                }

                    <!-- Delete Modal -->
                <div id="@deleteid" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputCommentDelete">Are you Sure, You want to delete this ?</label>
                                        <input type="hidden" class="form-control" id="DeleteNoteID" value="@a.NoteID">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="deleteComment(this)" class="btn btn-primary">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Modal Update -->
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Comments for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputComment">NoteId</label>
                                        <input type="text" class="form-control" id="inputNoteID" value="@a.NoteID" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputComment" rows="4">@a.Note1</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputName" value="@a.EditedBy">*@
                                        <input list="pendingwithlist" id="inputName" value="@a.EditedBy" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Edited Date</label>
                                        <input type="date" class="form-control" id="inputDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewComment(this)" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal Update -->
                    <!-- Modal for add New Note -->
                <div id="@addId" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Note for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="form-control" id="inputworkitemforNewNote" value="@a.WorkItemID">
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputCommentforNewNote" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputeditedbyforNewNote">*@
                                        <input list="pendingwithlist" id="inputeditedbyforNewNote" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewCommentforNewNote(this)" class="btn btn-primary">Add New Note</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal for add New Note end -->
                index++;
            }
            <hr />
            <a href="javascript:void(0);" data-toggle="modal" data-target="#@addId"><span class="glyphicon glyphicon-plus actionitems"></span></a>
        </div>
        </text>, style: "Note"),
     grid1.Column("", format: @<text>
                    <button class="edit-user display-mode">Edit</button>
                    <button id=@Convert.ToString(grid1.Rows.IndexOf(item) + 1) class="save-user edit-mode">Update</button>
                    <button class="cancel-user edit-mode">Cancel</button>
    </text>, style: "col3Width", canSort: false)
     ));
                if (Model.SelectedforDevelopment.Count == 0)
                {
                    <script type="text/javascript">
                        $(function () {
                            var row = $("#WebGrid1")[0].insertRow(-1);
                            var cell = $(row.insertCell(-1));
                            cell.html("Currently No Workitems are under Selected for Development Category.");
                            cell.attr("colspan", "10").attr("align", "center");
                        });
                    </script>
                }
        }

        <h4>Development In-Progress (@grid2.TotalRowCount items)</h4>
        @{
            @grid2.GetHtml(htmlAttributes: new { @id = "WebGrid2", @class = "Grid" }, tableStyle: "table table-bordered table-responsive InProgress_body", headerStyle: "progress_header", columns: grid2.Columns(
     grid2.Column("DevopsItemID", "DevopsID", format: @<text>  <span class="display-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a> </span> <label id="DevopsItemID" class="edit-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a></label> </text>, style: "col1Width"),
     grid2.Column("Summary", "Summary", format: @<text>  <span class="display-mode"> <label id="lblSummary">@item.Summary</label> </span> <textarea rows="4" cols="50" id="Summary" class="edit-mode">@item.Summary</textarea></text>, style: "col2Width"),
     grid2.Column("ProjectName", "Project", format: @<text> <span class="display-mode"> <label id="lblProject">@item.ProjectName</label> </span> <label id="lblProject" class="edit-mode">@item.ProjectName</label>  </text>, style: "col2Width"),
     grid2.Column("Priority", "Priority", format: @<text> <span class="display-mode"> <label id="lblPriority">@item.Priority</label> </span>  <input type="text" id="Priority" data-val="@item.Priority" value="@item.Priority" class="edit-mode priority-edit" /> </text>, style: "col2Width"),
     grid2.Column(columnName: "Assignee", header: "Assignee", format: @<text> <span class="display-mode"> <label id="lblAssignee">@item.User.FullName</label> </span> @Html.DropDownList((string)("Assignee" + Convert.ToString(grid2.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Assignee, "UserID", "FullName", item.Assignee), "--Select Assignee", new { @class = "edit-mode" })</text>),
     grid2.Column("PendingWith", "PendingWith", format: @<text> <span class="display-mode"> <label id="lblPendingWith">@item.PendingWith</label> </span>
    <input list="pendingwithlist" id="PendingWith" value="@item.PendingWith" class="edit-mode edit-pendingwith" />
    <datalist id="pendingwithlist">
        @foreach (var content in ViewBag.Assignee)
        {
            <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
        }
    </datalist>
    </text>,
            style: "col2Width"),
     grid2.Column("Fixversion", "Fixversion",
     format: @<text>     <div class="display-mode FixVersioncontainer">
            @foreach (var a in item.FixVersionRecords)
            {
                if (a.IsDeleted != true)
                {
                    <p> @a.FixVersionName </p>
                }
            }
        </div>
        <div class="edit-mode">
            @{
                int index = 1;
            }
            @foreach (var a in item.FixVersionRecords)
            {
                var id = "FixVersion" + a.FixVersionID;
                if (a.IsDeleted != true)
                {
                    <p>
                        @a.FixVersionName
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-plus"></span></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                }
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionID" value="@a.FixVersionID">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionWorkItemID" value="@a.WorkItemID">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">FixVersion Name</label>
                                        <input type="text" class="form-control" id="inputFixVersionName">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Comments</label>
                                        <input type="text" class="form-control" id="inputFixVersionComment">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddNewFixVersion(this)" class="btn btn-primary">Add Fix Version</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    </text>, style: "FixVersion"),
    grid2.Column(columnName: "Status", header: "Status", format: @<text> <span class="display-mode"> <label id="lblStatus">@item.Status1.Description</label> </span> @Html.DropDownList((string)("Status" + Convert.ToString(grid2.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Status, "StatusID", "Title", item.Status), "--Select Status", new { @class = "edit-mode" }) </text>),
     grid2.Column("ReleaseDate", "ReleaseDate", format: @<text> <span class="display-mode"> <label id="lblReleaseDate">@item.ExpectedReleaseDate.ToString("MM-dd-yyyy")</label> </span>  <input type="date" id="ExpectedReleaseDate" value="@string.Format("{0:yyyy-MM-dd}", item.ExpectedReleaseDate)" class="edit-mode" /> </text>, style: "col2Width"),
     grid2.Column("Notes", "Notes",
         format: @<text> <div class="display-mode Notes_div">
            @foreach (var a in item.Notes1)
            {
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p> @a.Note1 </p>
                        <p class="notedesc"><span>@a.EditedBy </span> &nbsp;<span class="actionitems">@a.EditedDate.ToString("MM-dd-yyyy")</span> </p>

                    </div>
                }
            }
        </div>
        <div class="edit-mode Notes_div">
            @{
                int index = 1;
                var addId = "NewNotes_grid2" + item.DevopsItemID;
            }

            @foreach (var a in item.Notes1)
            {
                var id = "Notes" + a.NoteID;
                var deleteid = "NoteDelete" + a.NoteID;
                     <!-- Trigger the modal with a button -->
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p>
                            @a.Note1  &nbsp;&nbsp;&nbsp;
                        </p>
                        <p>
                            <span class="notedesc">@a.EditedBy </span> &nbsp;
                            <span class="actionitems notedesc">
                                @a.EditedDate.ToString("MM-dd-yyyy") &nbsp;&nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@deleteid"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </p>
                    </div>
                }

                    <!-- Delete Modal -->
                <div id="@deleteid" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputCommentDelete">Are you Sure, You want to delete this ?</label>
                                        <input type="hidden" class="form-control" id="DeleteNoteID" value="@a.NoteID">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="deleteComment(this)" class="btn btn-primary">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Modal Update -->
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Comments for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputComment">NoteId</label>
                                        <input type="text" class="form-control" id="inputNoteID" value="@a.NoteID" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputComment" rows="4">@a.Note1</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputName" value="@a.EditedBy">*@
                                        <input list="pendingwithlist" id="inputName" value="@a.EditedBy" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Edited Date</label>
                                        <input type="date" class="form-control" id="inputDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewComment(this)" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal Update -->
                    <!-- Modal for add New Note -->
                <div id="@addId" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Note for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="form-control" id="inputworkitemforNewNote" value="@a.WorkItemID">
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputCommentforNewNote" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputeditedbyforNewNote">*@
                                        <input list="pendingwithlist" id="inputeditedbyforNewNote" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewCommentforNewNote(this)" class="btn btn-primary">Add New Note</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal for add New Note end -->
                index++;
            }
            <hr />
            <a href="javascript:void(0);" data-toggle="modal" data-target="#@addId"><span class="glyphicon glyphicon-plus actionitems"></span></a>
        </div>
        </text>, style: "Note"),
     grid2.Column("", format: @<text>
                    <button class="edit-user display-mode">Edit</button>
                    <button id=@Convert.ToString(grid2.Rows.IndexOf(item) + 1) class="save-user edit-mode">Update</button>
                    <button class="cancel-user edit-mode">Cancel</button>
    </text>, style: "col3Width", canSort: false)
     ));
                if (Model.DevInProgressdata.Count == 0)
                {
                    <script type="text/javascript">
                        $(function () {
                            var row = $("#WebGrid2")[0].insertRow(-1);
                            var cell = $(row.insertCell(-1));
                            cell.html("Currently No Workitems are under Development In-Progress Category.");
                            cell.attr("colspan", "10").attr("align", "center");
                        });
                    </script>
                }
        }

        <h4>Backlog Data (@grid3.TotalRowCount items)</h4>
        @{
            @grid3.GetHtml(htmlAttributes: new { @id = "WebGrid3", @class = "Grid" }, tableStyle: "table table-bordered table-responsive Backlog_body", headerStyle: "Backlog_header", columns: grid3.Columns(
     grid3.Column("DevopsItemID", "DevopsID", format: @<text>  <span class="display-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a> </span> <label id="DevopsItemID" class="edit-mode"><a href="https://msazure.visualstudio.com/One/_workitems/edit/@item.DevopsItemID/">@item.DevopsItemID</a></label> </text>, style: "col1Width"),
     grid3.Column("Summary", "Summary", format: @<text>  <span class="display-mode"> <label id="lblSummary">@item.Summary</label> </span> <textarea rows="4" cols="50" id="Summary" class="edit-mode">@item.Summary</textarea></text>, style: "col2Width"),
     grid3.Column("ProjectName", "Project", format: @<text> <span class="display-mode"> <label id="lblProject">@item.ProjectName</label> </span> <label id="lblProject" class="edit-mode">@item.ProjectName</label>  </text>, style: "col2Width"),
     grid3.Column("Priority", "Priority", format: @<text> <span class="display-mode"> <label id="lblPriority">@item.Priority</label> </span>  <input type="text" id="Priority" data-val="@item.Priority" value="@item.Priority" class="edit-mode priority-edit" /> </text>, style: "col2Width"),
     grid3.Column(columnName: "Assignee", header: "Assignee", format: @<text> <span class="display-mode"> <label id="lblAssignee">@item.User.FullName</label> </span> @Html.DropDownList((string)("Assignee" + Convert.ToString(grid3.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Assignee, "UserID", "FullName", item.Assignee), "--Select Assignee", new { @class = "edit-mode" })</text>),
     grid3.Column("PendingWith", "PendingWith", format: @<text> <span class="display-mode"> <label id="lblPendingWith">@item.PendingWith</label> </span>
    <input list="pendingwithlist" id="PendingWith" value="@item.PendingWith" class="edit-mode edit-pendingwith" />
    <datalist id="pendingwithlist">
        @foreach (var content in ViewBag.Assignee)
        {
            <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
        }
    </datalist>
    </text>,
            style: "col2Width"),
     grid3.Column("Fixversion", "Fixversion",
     format: @<text>     <div class="display-mode FixVersioncontainer">
            @foreach (var a in item.FixVersionRecords)
            {
                if (a.IsDeleted != true)
                {
                    <p> @a.FixVersionName </p>
                }
            }
        </div>
        <div class="edit-mode">
            @{
                int index = 1;
            }
            @foreach (var a in item.FixVersionRecords)
            {
                var id = "FixVersion" + a.FixVersionID;
                if (a.IsDeleted != true)
                {
                    <p>
                        @a.FixVersionName
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-plus"></span></a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                }
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionID" value="@a.FixVersionID">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="inputFixVersionWorkItemID" value="@a.WorkItemID">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">FixVersion Name</label>
                                        <input type="text" class="form-control" id="inputFixVersionName">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Comments</label>
                                        <input type="text" class="form-control" id="inputFixVersionComment">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddNewFixVersion(this)" class="btn btn-primary">Add Fix Version</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                index++;
            }
        </div>
    </text>, style: "FixVersion"),
     grid3.Column(columnName: "Status", header: "Status", format: @<text> <span class="display-mode"> <label id="lblStatus">@item.Status1.Description</label> </span> @Html.DropDownList((string)("Status" + Convert.ToString(grid3.Rows.IndexOf(item) + 1)), new SelectList(ViewBag.Status, "StatusID", "Title", item.Status), "--Select Status", new { @class = "edit-mode" }) </text>),
     grid3.Column("ReleaseDate", "ReleaseDate", format: @<text> <span class="display-mode"> <label id="lblReleaseDate">@item.ExpectedReleaseDate.ToString("MM-dd-yyyy")</label> </span>  <input type="date" id="ExpectedReleaseDate" value="@string.Format("{0:yyyy-MM-dd}", item.ExpectedReleaseDate)" class="edit-mode" /> </text>, style: "col2Width"),
     grid3.Column("Notes", "Notes",
         format: @<text> <div class="display-mode Notes_div">
            @foreach (var a in item.Notes1)
            {
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p> @a.Note1 </p>
                        <p class="notedesc"><span>@a.EditedBy </span> &nbsp;<span class="actionitems">@a.EditedDate.ToString("MM-dd-yyyy")</span> </p>

                    </div>
                }
            }
        </div>
        <div class="edit-mode Notes_div">
            @{
                int index = 1;
                var addId = "NewNotes_grid3" + item.DevopsItemID;
            }

            @foreach (var a in item.Notes1)
            {
                var id = "Notes" + a.NoteID;
                var deleteid = "NoteDelete" + a.NoteID;
                     <!-- Trigger the modal with a button -->
                if (a.IsDeleted != true)
                {
                    <div class="note_div" style="color: @a.User.Color">
                        <p>
                            @a.Note1  &nbsp;&nbsp;&nbsp;
                        </p>
                        <p>
                            <span class="notedesc">@a.EditedBy </span> &nbsp;
                            <span class="actionitems notedesc">
                                @a.EditedDate.ToString("MM-dd-yyyy") &nbsp;&nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@id"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#@deleteid"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </p>
                    </div>
                }

                    <!-- Delete Modal -->
                <div id="@deleteid" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputCommentDelete">Are you Sure, You want to delete this ?</label>
                                        <input type="hidden" class="form-control" id="DeleteNoteID" value="@a.NoteID">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="deleteComment(this)" class="btn btn-primary">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Modal Update -->
                <div id="@id" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Comments for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="inputComment">NoteId</label>
                                        <input type="text" class="form-control" id="inputNoteID" value="@a.NoteID" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputComment" rows="4">@a.Note1</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputName" value="@a.EditedBy">*@
                                        <input list="pendingwithlist" id="inputName" value="@a.EditedBy" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPrevComment">Edited Date</label>
                                        <input type="date" class="form-control" id="inputDate" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" disabled>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewComment(this)" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal Update -->
                    <!-- Modal for add New Note -->
                <div id="@addId" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New Note for WorkItem</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <input type="hidden" class="form-control" id="inputworkitemforNewNote" value="@a.WorkItemID">
                                    <div class="form-group">
                                        <label for="inputComment">Comments</label>
                                        <textarea class="form-control " id="inputCommentforNewNote" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">EditedBy</label>
                                        @*<input type="text" class="form-control" id="inputeditedbyforNewNote">*@
                                        <input list="pendingwithlist" id="inputeditedbyforNewNote" class="form-control" />
                                        <datalist id="pendingwithlist">
                                            @foreach (var content in ViewBag.Assignee)
                                            {
                                                <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                                            }
                                        </datalist>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="change" onclick="AddnewCommentforNewNote(this)" class="btn btn-primary">Add New Note</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Modal for add New Note end -->
                index++;
            }
            <hr />
            <a href="javascript:void(0);" data-toggle="modal" data-target="#@addId"><span class="glyphicon glyphicon-plus actionitems"></span></a>
        </div>
        </text>, style: "Note"),
     grid3.Column("", format: @<text>
                    <button class="edit-user display-mode">Edit</button>
                    <button id=@Convert.ToString(grid3.Rows.IndexOf(item) + 1) class="save-user edit-mode">Update</button>
                    <button class="cancel-user edit-mode">Cancel</button>
    </text>, style: "col3Width", canSort: false)
     ));
                if (Model.BacklogData.Count == 0)
                {
                    <script type="text/javascript">
                        $(function () {
                            var row = $("#WebGrid3")[0].insertRow(-1);
                            var cell = $(row.insertCell(-1));
                            cell.html("Currently No Workitems are under Backlog Items Category.");
                            cell.attr("colspan", "10").attr("align", "center");
                        });
                    </script>
                }
        }

        <h4>UpComing Data (@UpcomingTasks.TotalRowCount items)</h4>
        @{
            @UpcomingTasks.GetHtml(htmlAttributes: new { @id = "UpcomingData", @class = "Grid" }, tableStyle: "table table-bordered table-responsive", headerStyle: "UpComing_header", columns: UpcomingTasks.Columns(
                 UpcomingTasks.Column("TicketID", format: @<text>  <span class="display-mode">@item.TicketID </span> <label id="TicketID" class="edit-mode">@item.TicketID</label> </text>, style: "col1Width"),
                 UpcomingTasks.Column("Summary", "Summary", format: @<text>  <span class="display-mode"> <label id="lblSummary">@item.Summary</label> </span> <textarea rows="4" cols="50" id="Summary" class="edit-mode">@item.Summary</textarea></text>, style: "col2Width"),
                 UpcomingTasks.Column("Priority", "Priority", format: @<text> <span class="display-mode"> <label id="lblPriority">@item.Priority</label> </span>  <input type="text" id="Priority" value="@item.Priority" class="edit-mode priority-edit" /> </text>, style: "col2Width"),
                 UpcomingTasks.Column("Requester", "Requester", format: @<text>  <span class="display-mode"> <label id="lblRequester">@item.Requester</label> </span> <input type="text" id="Requester" value="@item.Requester" class="edit-mode" /></text>, style: "col2Width"),
                 //UpcomingTasks.Column("PendingWith", "Pendingwith", format: @<text> <span class="display-mode"> <label id="lblPendingwith">@item.Pendingwith</label> </span>  <input type="text" id="Pendingwith" value="@item.Pendingwith" class="edit-mode priority-edit" /> </text>, style: "col2Width"),
                 UpcomingTasks.Column("PendingWith", "PendingWith", format: @<text> <span class="display-mode"> <label id="lblPendingWith">@item.PendingWith</label> </span>
                <input list="pendingwithlist" id="PendingWith" value="@item.PendingWith" class="edit-mode edit-pendingwith" />
                <datalist id="pendingwithlist">
                    @foreach (var content in ViewBag.Assignee)
                    {
                        <option id="@content.UserID" value="@content.FullName">@content.FullName</option>
                    }
                </datalist>
                </text>,
            style: "col2Width"),
                 UpcomingTasks.Column("Comments", "Comments", format: @<text>  <span class="display-mode"> <label id="lblComments">@item.Comments</label> </span> <input type="text" id="Comments" value="@item.Comments" class="edit-mode" /></text>, style: "col2Width"),
                 UpcomingTasks.Column("", format: @<text>
            <button class="edit-user display-mode">Edit</button>
            <button id=@Convert.ToString(grid3.Rows.IndexOf(item) + 1) class="save-user edit-mode">Update</button>
            <button class="cancel-user edit-mode">Cancel</button>
                </text>, style: "col3Width", canSort: false)
                 ));
            if (Model.UpcomingData.Count == 0)
            {
                <script type="text/javascript">
                    $(function () {
                        var row = $("#UpcomingData")[0].insertRow(-1);
                        var cell = $(row.insertCell(-1));
                        cell.html("Currently No Workitems are under UpComing Data Category.");
                        cell.attr("colspan", "10").attr("align", "center");
                    });
                </script>
            }
        }
    </div>
</body>
</html>
